
#function input declarations

{%for inputDeclaration in functionInputsDeclaration%}{{inputDeclaration}}
{%endfor%}
{%for semaphore in required_semaphores%}{{semaphore}}.acquire()
{%endfor%}
#function call
{%if return_require_semaphore%}{{function.functionObject.name}}Ret_lock = threading.Lock(){%endif%}
{{function.functionObject.name}}Ret ={%if function.functionObject.isMember%}{{owning_obj_ref}}.{%endif%}{{function.functionObject.name}}({%for param in parameterRefrences%}{{param}} {%if not forloop.last%},{%endif%}{% endfor %} )
{%for semaphore in required_semaphores%}{{semaphore}}.release()
{%endfor%}