
#function input declarations
{%for inputDeclaration in functionInputsDeclaration%}{{inputDeclaration}}
{%endfor%}
#function call
{{function.functionObject.name}}Ret = {{function.functionObject.name}}({%for param in parameterRefrences%}{{param}} {%if not forloop.last%},{%endif%}{% endfor %} )