{%extends "Python/templates/Node.j2"%}
{%block content%}
#Loop input declarations{%for inputDeclaration in  loopInputsDeclaration%}
{{inputDeclaration}}{%endfor%}
{%for semaphore in semaphores%}{{semaphore}}.acquire()
{%endfor%}
for {{counter_name}} in range({{start}},{{end}},{{step}}):
	{%if counter_require_semaphore%}{{counter_name}}_lock = threading.Lock(){%endif%}
	{%for line in loop_block %}{{line|indentString:"1"}}{%endfor%}
{%for semaphore in semaphores%}{{semaphore}}.release()
{%endfor%}
{%endblock%}