#function input declarations
{%for inputDeclaration in inputs%}{{inputDeclaration}}
{%endfor%}
{%for semaphore in semaphores%}{{semaphore}}.acquire()
{%endfor%}
{%if require_semaphore%}{{reference}}_lock = threading.Lock(){%endif%}
{{reference}} = {{sentence}}
{%for semaphore in semaphores%}{{semaphore}}.release()
{%endfor%}