#importing modules
{%for module in project.importedModules %}}
{{ module.importHiearchy|renderImport:"module" }}
{%endfor%}}

#importing classes
{%for classObj in project.importedClasses %}}
{#the lenght of the import object {{classObj.importHiearchy|length}}#}
{{classObj.importHiearchy|renderImport:"class"}}
{%endfor%}}

#importing Functions
{%for functionObj in project.importedFunctions %}}
{{functionObj.importHiearchy|renderImport:"function"}}
{%endfor%}}

#importing Variables
{%for variableObj in project.importedVariables %}}
{{variableObj.importHiearchy|renderImport:"variable"}}
{%endfor%}}


class {{project.projectName}}(object):
    def __init__(self):
        pass

